SnowWhiteRobot/config.py
SnowWhiteRobot/*.session
SnowWhiteRobot/*.session-journal
SnowWhiteRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
SnowWhiteRobot/modules/helper_funcs/temp.txt
SnowWhiteRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
SnowWhite.session-journal
updates.txt
*.exe
